.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 92px 50px 96px;
}

.header__menu {
    display: flex;
    gap: 32px;
}

.logo-link {
    display: block;
    width: 148px;
    height: 105px;
    text-decoration: none;
    justify-self: center;
}

.menu-list {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 32px;
}

.menu-item {
    font-family: "Raleway", sans-serif;
    font-weight: normal;
    font-size: 18px;
    text-transform: lowercase;
    list-style: circle;
}

.menu-item a {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.menu-item.active {
  list-style: none;
  text-decoration: none;
}

.menu-item.active a {
  text-decoration: none;
}

.address {
    max-width: 240px;
    justify-self: end;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: "Raleway", sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.35;
    color: #000;
    font-style: normal;
}

.address__link {
    width: 240px;
    margin-bottom: 4px;
    text-underline-offset: 4px;
    line-height: 24.3px;
}

.address__text {
    width: 240px;
    display: block;
    font-style: normal;
    border-bottom: 1px solid;
    line-height: 24.3px;
    margin: 0;
}

.cover {
    width: 1100px;
    min-height: 757px;
    background-image: url("../images/flower.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    padding: 165px 50px 50px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.cover__title {
    position: relative;
    z-index: 2;
    color: #fff;
    width: 100%;
}

.aligned-text {
    display: block;
    font-family: 'Raleway', sans-serif;
    font-size: 100px;
    font-weight: bold;
    line-height: 115px;
    text-transform: uppercase;
    letter-spacing: 28px;
}

.aligned-text_left {
    text-align: left;
}

.aligned-text_center {
    text-align: center;
    margin-top: 20px;
}

.aligned-text_right {
    text-align: right;
    margin-top: 20px;
    position: relative;
}

.cover__description {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    gap: 78px;
    flex-direction: row;
}

.cover__description-text {
    color: #fff;
    font-family:'Raleway', sans-serif;
    font-weight: normal;
    font-size: 22px;
    line-height: 28px;
    text-transform: uppercase;
    word-spacing: 18px;
    margin-right: 30px;
    white-space: nowrap;
}

.bet-button {
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    font-family:'Raleway', sans-serif;
    font-weight: 500;
    line-height: 100%;
    font-size: 22px;
    text-transform: uppercase;
    padding: 12px 32px;
    white-space: nowrap;
    cursor: pointer;
}

.lots {
    width: 1052px;
    padding-top: 180px ;
    margin-left: 24px;
    margin-right: 24px;
}

.lots__heading {
    font-size: 40px;
    font-family:'Raleway', sans-serif;
    font-weight: bold;
    line-height: 100%;
    margin-left: 40px;
    text-transform: uppercase;
}

.lots__card-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    gap: 25px;
    margin-top: 30px;
}

.lots__card-list-item {
    width: 334px;
    min-height: 596px;
}

.card-link {
    display: block;
    height: 100%;
    text-decoration: none;
}

.card {
    position: relative;
    height: 100%;
    padding: 48px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.card_type_film {
    background-image: url('../images/photo_for_1_lots.jpg');
}

.card_type_book {
    background-image: url('../images/photo_for_2_lots.jpg');
}

.card_type_picture {
    background-image: url('../images/photo_for_3_lots.jpg');
}

.card__title {
    position: relative;
    z-index: 2;
    font-size: 22px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    line-height: 120%;
    text-transform: uppercase;
    text-decoration: underline;
    color: #fff;
}

.card__text {
    position: relative;
    z-index: 2;
    font-size: 20px;
    line-height: 120%;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
}

.lots__look-more-link {
    display: block;
    font-size: 20px;
    text-decoration: underline;
    line-height: 100%;
    margin-left: 40px;
    margin-top: 40px;
    text-underline-offset: 4px;
}

.about {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 120px 24px 0px;
}

.about__logo {
    width: 240px;
    height: 240px;
    background-color: #000;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    
    margin: 35px 0px 0px 47px;
}

.about__logo-image {
    width: 148px;
    height: 114px;
}

.about__title {
    font-size: 40px;
    font-family:'Raleway', sans-serif;
    font-weight: bold;
    line-height: 100%;
    text-transform: uppercase;
    margin: 140px 0 100px;
}

.about__text {
    display: flex;
    flex-direction: column;
    gap: 25px;
    max-width: 885px;
}

.about__paragraph {
    font-size: 20px;
    line-height: 24px;
    font-family:'Raleway', sans-serif;
    font-weight: normal;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: start;
    padding: 90px 50px;
    margin-top: 100px;
}

.footer__address {
    justify-self: start;
    max-width: 240px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-style: normal;
}

.footer__menu {
    justify-self: center;
}

.footer__menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer__menu-link {
    text-decoration: none;
    color: inherit;
    font-size: 18px;
    border-bottom: 1px solid;
}

.footer__menu-link_active {
    border-bottom: none;
    text-decoration: none;
}

.footer__social-list {
    justify-self: end;
    display: flex;
    gap: 48px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer__social-link {
    display: block;
    text-decoration: none;
}

.footer__social-icon {
    width: 48px;
    height: 48px;
    display: block;
}